@charset "utf-8";
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

$haikei: #E1E1E1;

body{
    background-color: $haikei;

    .site{
        animation: fadeIn 2s forwards;
    }
}